<div class="card">
    {{!-- Inline form with form-groups --}}
    <form {{on "submit" this.onSubmit}} class="form-inline w-400 mw-full">
        <div class="form-group">
            <label class="required w-100" for="username">Username</label>
            <Input type="text" class="form-control" placeholder="Username" id="Username" required="required"
                @value={{this.username}} />
        </div>
        <div class="form-group">
            <label class="required w-100" for="password">Password</label>
            <Input type="password" class="form-control" placeholder="password" id="password" required="required"
                @value={{this.password}} />
        </div>
        <div class="form-group mb-0">
            <input type="submit" class="btn btn-primary btn-block" value="Login">
        </div>
    </form>
</div>