<div class="navbar-content">
    <button class="btn btn-action fa fa-bars" id="toggle-sidebar-btn" type="button" onclick="halfmoon.toggleSidebar()">
    </button>
</div>

<LinkTo @route="Index" class="button navbar-brand">
    Spaceballs
</LinkTo>

<ul class="navbar-nav ml-auto">
    {{!-- <li class="nav-item">
        <LinkTo @route="CreateRizzipe" class="button nav-link">Create Rizzipe</LinkTo>
    </li>
    <li class="nav-item">   
        <LinkTo @route="Login" class="button nav-link">Logged in</LinkTo>
    </li>
    <li class="nav-item">   
        <LinkTo @route="Login" class="button nav-link">Login</LinkTo>
    </li> --}}
</ul>