<div class="product">
    <div class="card w-400">
        <img src="..." class="img-fluid" alt="responsive image">
        <LinkTo @route="productPage" @query={{hash id=1}} class="button nav-link">Title</LinkTo>
        <p>Pris</p>
    </div>
</div>