{{page-title "Login"}}
<center>
    <div class="card">
        {{!-- Inline form with form-groups --}}
        <form action="..." method="..." class="form-inline w-400 mw-full">
            {{!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% --}}
            <div class="form-group">
                <label class="required w-100" for="username">Username</label> {{!-- w-100 = width: 10rem (100px) --}}
                <input type="text" class="form-control" placeholder="Username" id="username" required="required">
            </div>
            <div class="form-group">
                <label class="required w-100" for="password">Password</label> {{!-- w-100 = width: 10rem (100px) --}}
                <input type="password" class="form-control" placeholder="Password" id="password" required="required">
            </div>
            <div class="form-group mb-0"> {{!-- mb-0 = margin-bottom: 0 --}}
                <input type="submit" class="btn btn-primary ml-auto" value="Sign in">
                {{!-- ml-auto = margin-left: auto --}}
            </div>
        </form>
    </div>
</center>
{{outlet}}